<h2>Tu cuenta {{ user.fullName }} ha sido creada</h2>
<a href="{{ path('security_confirm', {'token': user.confirmationToken }) }}">Activar cuenta</a>
<p>{{ path('security_confirm', {'token': user.confirmationToken }) }}</p>